<div id="masthead">
  <div class="inner">
    <h1>Home</h1>
		<p>Select an action below.</p>
		<div class="row center">
			<div class="span4 columns"><div class="button"><%= link_to image_tag("core.png", :border=>0), cores_path %>Cores</div></div>
			<div class="span4 columns"><div class="button"><%= link_to image_tag("key.png", :border=>0), keys_path %>Keys</div></div>
			<div class="span4 columns"><div class="button"><%= link_to image_tag("keyway.png", :border=>0), keyways_path %>Keyways</div></div>
			<div class="span4 columns"><div class="button"><%= link_to image_tag("keytypes.png", :border=>0), keytypes_path %>Key Types</div></div>
		</div>
	</div>
</div>