<section id="cores">
	<div class="page-header">
		<h1><%= @keyway.name %></h1>
	</div>
	
	<p id="notice"><%= notice %></p>

	<%= link_to 'Edit', edit_keyway_path(@keyway) %> |
	<%= link_to 'Back', keyways_path %>
</section>